.main-page {
  width: 100vw;
  max-height: 100svh;
  height: 100svh;
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  color: white;
}

.weather {
    background-color: rgba(19, 19, 22, 1);
    padding-bottom: 50px;
}

.charts {
  padding: 100px 0px 0 0px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46vw, 1fr));
  gap: 20px; 
  margin-top: 20px;
}
