.sector {
  flex: 1;
  height: 100%;
  max-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  transition: background-color 150ms, flex 400ms;
  flex-direction: column;
  color: white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.sector__name {
  writing-mode: vertical-rl;
  font-size: 23px;
}

.sector__open {
  flex: 3;
  justify-content: space-between;
}

.sector__open .sector__name {
  writing-mode: horizontal-tb;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px;
  height: min-content;

  border-radius: 5px;
}

.sector__open .sector__button {
  display: flex;
}

.sector__button {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  background-color: hsl(231, 100%, 60%);
  border: none;
  border-radius: 5px;
  color: aliceblue;
  gap: 10px;
  transition: all 200ms;

  &:hover {
    background-color: hsl(231, 100%, 50%);
  }
}

.sector__icon {
  display: flex;
  height: 25px;
  fill: aliceblue;
}
